# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
backend/.venv/

# Packaging artifacts
*.egg-info/

# Env files
.env
backend/.env
infra/.env

# Node
node_modules/
frontend/dist/

# OS
.DS_Store
**/.DS_Store
